<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TabBarDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4F5AF2A71E4B05A5000E201F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F5AF2BB1E4B05A5000E201F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F5AF2C61E4B05A6000E201F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
